.container {
    display: flex;
    flex-direction: row;
    width: 1184px;
    padding: 24px 24px;
    gap: 48px;
    border-radius: 24px;
    background: #fff;
}

.avatarWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    /* 96 + 8*2 (відступи) + 3*2 (бордери) */
    height: 120px;
    border: 3px solid #FBE9BA;
    /* коло */
    border-radius: 50%;
    background-color: #fff;
    /* білий фон між кільцем і аватаркою */
    padding: 8px;
    /* відстань від аватарки до кільця */
}

.avatar {
    border-radius: 100px;
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.is_online {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 18px;
    right: 18px;

}

.profile_info {
    width: 100%;

}

.teacher_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex: 1;
    margin-bottom: 32px;

}

.name_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.languages {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.teacher_name {

    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #121417;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 32px;
}

.rating_item {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #121417;
}

.rating_item:not(:first-child)::before {
    content: "";
    display: block;
    width: 2px;
    height: 16px;
    background-color: #dadde1;
    transform: translateX(-16px);
}

.price {
    color: #38cd3e;
}

.icon_book {
    fill: none;
    stroke: black;
    margin-right: 8px;
}

.icon_star {
    margin-right: 8px;
}

.favorite_btn {
    all: unset;
    margin-left: 64px;
    cursor: pointer;
}



.heart {
    fill: none;
    stroke: black;

}

.heart:hover,
.heart:hover {
    fill: #FFC531;
    stroke: #FFC531;
}

.teacher_descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.teacher_descr span {
    color: #121417;
}

.teacher_descr p:first-of-type span {
    border-bottom: 1px solid #121417;
}

.link {
    all: unset;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #121417;
    display: inline-block;
    margin-bottom: 32px;
}

.experience {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}

.toggle_container {
    display: flex;
    gap: 10px;

}

.toggle_btn {
    border: 1px solid rgba(18, 20, 23, 0.2);
    border-radius: 35px;
    padding: 8px 12px;
    background: white;
    cursor: pointer;
    transition: all 0.2s;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #121417;
}

.toggle_btn.active {
    background: #f5a623;
    color: #121417;
    border-color: #f4c550;
}

.trialLessonBtn {
    margin-top: 32px;
    border-radius: 12px;
    padding: 16px 48px;
    width: 232px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f4c550;
    border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: #121417;
    cursor: pointer;
    white-space: nowrap;

    transition: background-color 0.8s ease, color 0.8s ease;
}

.trialLessonBtn:hover,
.trialLessonBtn:focus {
    background-color: #FBE9BA;
}