.container{
display: flex;
flex-direction: row;
align-items: center;
gap: 24px;
padding: 0px 64px;

}
.left_block{
padding: 98px 108px 98px 64px ;
background-color: #f8f8f8;;
border-radius: 30px;

box-sizing: border-box;
width: 720px;
height: 530px;
}
.title{
font-weight: 500;
font-size: 48px;
line-height: 117%;
letter-spacing: -0.02em;
color: #121417;
margin-bottom: 32px;
}
.title span{
display: inline-flex;
align-items: center;
justify-content: center;

border-radius: 8px;
width: 195px;
height: 40px;


font-style: italic;
font-weight: 400;
letter-spacing: -0.02em;

background: #fbe9ba;
}
.text{
font-weight: 400;
font-size: 16px;
line-height: 137%;
letter-spacing: -0.02em;
color: #121417;

margin-bottom: 64px;
max-width: 471px;
}
.typeBTN{
display: flex;
align-items: center;
justify-content: center;

border-radius: 12px;

width: 267px;
height: 60px;

font-weight: 700;
font-size: 18px;
line-height: 156%;
color: #121417;

background: #f4c550;
transition: background-color 0.8s ease, box-shadow 0.8s ease; 
}
.typeBTN:hover,
.typeBTN:focus{
background:#fbe9ba;
}
.typeBTN:active{
background: #f4c550;
outline: 2px solid #F4C550;
outline-offset: 2px;
}
.typeBTN span {
  display: inline-block;
  transition: transform 0.3s ease; /* плавність лише для тексту */
}

.typeBTN:hover span,
.typeBTN:focus span {
  transform: scale(1.1); /* збільшуємо текст */
}