.form{
display: flex;
flex-direction: row;
gap: 20px;
}
.filter_languages {
    display: flex;
    flex-direction: column;
    max-width: 221px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
    margin-bottom: 8px;
}

:global(.custom-select__control) {
    border-radius: 14px !important;
    display: flex !important;
    justify-content: center;

    padding: 14px 13px 14px 18px !important;
    min-width: 221px !important;
    height: 48px !important;
    background: #fff !important;
    border: none !important;
    cursor: pointer !important;
    box-shadow: none !important;


}

:global(.custom-select__value-container) {
    display: inline-flex !important;
    align-items: center !important;
    max-width: 150px !important;
    max-height: 20px !important;
    padding: none !important;

    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 1.11 !important;
    color: #121417 !important;

}

:global(.custom-select__placeholder) {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    color: #8a8a89;
}

:global(.custom-select__menu) {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
    margin-top: 4px;
    padding: 14px 18px;
    border-radius: 12px;
    min-width: 221px;
    height: 160px;
    background: #fff;

    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 1.11 !important;
    color: #121417 !important;
}
/* список в випадаючому меню */
:global(.custom-select__menu-list) {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}

/* текст в випадаючому меню */
:global(.custom-select__option) {
  cursor: pointer;
  color: rgba(18, 20, 23, 0.2);
  transition: color 0.2s ease-in-out;
}

:global(.custom-select__option--is-focused) {
  color:  #121417 !important;
}
:global(.custom-select__indicator) {
  color: #121417; /* колір стрілки */
  transform: rotate(0deg); /* напрямок */
  transition: transform 0.35s ease-in-out !important;
}
/* Коли меню відкрите — стрілка повертається */
:global(.custom-select__control--menu-is-open .custom-select__indicator) {
  transform: rotate(180deg);
}
/* BUTTON */
.btn {
    margin-top: 26px;
    height: 48px;
  text-align: center;
  padding: 12px 51px;
  border: none;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.btn:hover,
.btn:focus {
  background-color: #0b44cd;
}
