.filter_languages{
display: flex;
flex-direction: column;
}
.label{
font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #8a8a89;
margin-bottom: 8px;
}
.select_control{
appearance: none; /* стандарт */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */

border-radius: 14px;
padding: 14px 18px;
max-width: 221px;
height: 48px;
background: #fff;
border: none;
cursor: pointer;
box-shadow: none;

font-weight: 500;
font-size: 18px;
line-height: 111%;
color: #121417;
}
.select_control:focus {
  outline: none;
}
.option {
  background: #af2020;
  color: #121417;
}
.option:checked {
  background-color: #fbe9ba;
  font-weight: 600;
}