:global(html.modal-open),
:global(body.modal-open) {
  overflow: hidden !important;
}

body {
  transition: padding-right 0.2s ease;
}


.backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    position: relative;
    border-radius: 30px;
    width: 600px;
    padding: 64px 64px;
    background: #fff;
}

.closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

}

.closeBtn_icon {
    
    fill: none;
    width: 32px;
    height: 32px;
}

.title_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
    color: rgba(18, 20, 23, 0.8);
}

.select_teacher {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-bottom: 40px;
}
.icon_avatar{
border-radius: 100px;
width: 44px;
height: 44px;
}
.select_descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8a8a89;
    margin-bottom: 4px;
}

.select_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #121417;
}

.title_quest {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: #121417;
    margin-bottom: 20px;
}

/* === RADIO BUTTONS === */
.radioBlock{
display: flex;
flex-direction: column;
gap: 16px;
margin-bottom: 40px;
}

.label_radio{
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
cursor: pointer;
}

.radioBtn{
position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Стилі кастомного кружечка */
.label_radio span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid  #8a8a89;/* неактивна рамка */
  border-radius: 50%;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}
/* Усередині кружечка маленьке коло, яке з'являється при checked */
.label_radio span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f4c550; /* жовтий колір */
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease;
}

/* Активна кнопка — жовте кільце + коло */
.radioBtn:checked + span {
  border-color: #f4c550;
}

.radioBtn:checked + span::after {
  transform: scale(1);
}

.checkbox{
display: none;
}
.input_block{
display: flex;
flex-direction: column;
gap:18px;
margin-bottom: 40px;
}
.input{
    border: 1px solid rgba(18, 20, 23, 0.1);
border-radius: 12px;
padding: 16px 16px 16px 18px;
width: 472px;
height: 54px;

font-weight: 400;
font-size: 16px;
line-height: 137%;
color: #121417;

outline: transparent;
}

.modal_btn {

    border-radius: 12px;
    padding: 16px 215px;
    width: 100%;
    height: 60px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f4c550;
    border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: #121417;
    cursor: pointer;
    white-space: nowrap;

    transition: background-color 0.8s ease, color 0.8s ease;
}

.modal_btn:hover,
.modal_btn:focus {
    background-color: #FBE9BA;
}

.modal_btn:active {
    background-color: #f4c550;
    outline: 2px solid #f4c550;
    outline-offset: 2px;
}

